* {
    font-family: "Roboto"
}

.navbar{
    z-index: 500;
}

.bg-dark{
    background-color: #011328 !important;
}

.alert{
    width: 40%;
    position: absolute;
    left: calc(50vw - 20%);
    top: calc(56px + 10px);
    z-index: 410;
    text-align: center;
}

#map{
    height: calc(100vh - 56px - 105px);
    width: 100%;
}

#search{
    margin-bottom: -13px;
}

footer{
    padding: 15px;
    text-align: center;
    background-color: #011328;
}