* {
    font-family: "Roboto"
}

.navbar{
    z-index: 500;
}

.bg-dark{
    background-color: #011328 !important;
}

.alert{
    width: 40%;
    position: absolute;
    left: calc(50vw - 20%);
    top: 5vh;
    z-index: 410;
    text-align: center;
}

#map{
    height: calc(100vh - 56px - 105px);
    width: 100%;
}

#search{
    margin-bottom: -16px;
}

footer{
    padding: 15px;
    text-align: center;
    background-color: #011328;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 

    .alert{
        top: 10vh;
    }

}